:root {
  --gutter: 60px;

  --text-gray-100: #e7e7e7;
  --text-gray-800: #2a2a2a;
  --text-red: #ff6d94;
  --text-blue: #90cbff;

  margin: 0px;
  padding: 16px;
  color-scheme: light dark;
  color: white;
  background-color: var(--text-gray-800);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-family: "PT Mono", monospace;
  margin: 8px 0px;
}

h1,
h2,
h3,
h4 {
  text-align: left;
}

div,
p,
button,
input,
textarea {
  font-family: "PT Mono", monospace;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

input,
textarea,
select {
  font-family: "PT Mono", monospace;
  color: white;
  background-color: transparent;
  border: 0px;
  padding: 8px;
  outline: rgb(190, 190, 190) solid 1px;
}

select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="white" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>');
  background-size: 16px;
  background-position: right 8px center;
  background-repeat: no-repeat;
  appearance: none;
}

input:disabled,
textarea:disabled {
  opacity: 0.5;
}

button {
  font-family: "PT Mono", monospace;
  color: white;
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

button.outline {
  padding: 8px;
  outline: rgb(190, 190, 190) solid 1px;
}

button.outline:hover {
  opacity: 0.8;
}

button.text {
  padding: 0px;
  outline: transparent solid 0px;
  text-decoration-style: none;
}

button.text:hover {
  text-decoration-line: underline;
  text-underline-offset: 6px;
  text-decoration-style: solid;
}

.faded {
  opacity: 0.5;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: 48px;
  max-width: 1440px;
  padding: 0px 0px;
}

.header {
  padding: 0px var(--gutter);
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}

.grid {
  display: grid;
  grid-template-rows: auto;
}

.grid.contents {
  display: contents;
}

.grid.contents:hover .cell {
  opacity: 0.5;
}

.grid.contents.tall > .cell {
  padding-top: 16px;
  padding-bottom: 16px;
}

.cell {
  display: flex;
  align-items: center;
  padding: 6px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell.gutter-l {
  grid-column-start: gutter-l;
  text-align: right;
  padding-right: 12px;
  opacity: 0.5;
}

.cell.gutter-r {
  grid-column-start: gutter-r;
  padding-left: 12px;
  opacity: 0.5;
}
