:root {
  margin: 0px;
  padding: 16px;
  color-scheme: light dark;
  color: white;
  background-color: #2a2a2a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --gutter: 60px;

  --text-gray-100: #e7e7e7;
  --text-red: #ff6d94;
  --text-blue: #90cbff;
}

div,
p,
button,
input,
textarea {
  font-family: "PT Mono", monospace;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

input,
textarea {
  font-family: "PT Mono", monospace;
  color: white;
  background-color: transparent;
  height: 24px;
  border: 0px;
  padding: 8px;
  outline: rgb(190, 190, 190) solid 2px;
}

input:disabled,
textarea:disabled {
  opacity: 0.5;
}

button {
  font-family: "PT Mono", monospace;
  color: white;
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

button.outline {
  height: 24px;
  padding: 8px;
  outline: rgb(190, 190, 190) solid 2px;
}

button.outline:hover {
  opacity: 0.8;
}

button.text {
  padding: 0px;
  outline: transparent solid 0px;
  text-decoration-style: none;
}

button.text:hover {
  text-decoration-line: underline;
  text-underline-offset: 6px;
  text-decoration-style: solid;
}

.faded {
  opacity: 0.5;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: 48px;
  max-width: 1440px;
  padding: 0px 0px;
}

.header {
  padding: 0px var(--gutter);
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}

.grid {
  display: grid;
  grid-template-rows: auto;
}

.grid.contents {
  display: contents;
}

.grid.contents:hover .cell {
  opacity: 0.5;
}

.grid.contents.tall > .cell {
  padding-top: 16px;
  padding-bottom: 16px;
}

.cell {
  display: flex;
  align-items: center;
  padding: 4px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell.gutter-l {
  grid-column-start: gutter-l;
  text-align: right;
  padding-right: 12px;
  opacity: 0.5;
}

.cell.gutter-r {
  grid-column-start: gutter-r;
  padding-left: 12px;
  opacity: 0.5;
}
