:root {
  font-family: "PT Mono", monospace;
  padding: 16px;
  color-scheme: light dark;
  color: white;
  background-color: #2a2a2a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
